.DS_Store
dvd.o
fileManager.o
ItemView.o
JSONvisitor.o
main.o
MainWindow.o
Makefile
moc_ItemView.o
progetto.app/Contents/MacOS/progetto
moc_ItemView.cpp
moc_MainWindow.cpp
moc_PreviewVisitor.cpp
moc_PreviewVisitor.o
progetto.pro
.vscode/settings.json
supportoMultimediale.o
moc_MainWindow.o
MainWindow.o
biblioteca.o
cd.o
.vscode/tasks.json
